<article>
  {{#if post.text}}
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
      <em>(Posted on {{post.createdDate}} by {{post.author}})</em>
        <div class="action-buttons">
          <a href="#" class="btn-action btn-delete" {{action "deletePost" post bubbles=false}}> Delete </a>
          <a href="#" class="btn-action btn-edit" {{action "editPost" post bubbles=false}}> Edit </a>
      </div>
      <hr>
  {{/if}}
</article>
