<section class="sub-heading">
    <div class="sort-buttons">
      <a href="#" class="btn-sort" {{action "setSortBy" "createdAt" }}> Sort by Time </a>
      <a href="#" class="btn-sort" {{action "setSortBy" "title" }}> Sort by Title </a>
      <a href="#" class="btn-sort" {{action "setSortBy" "author"}}> Sort by Author </a>
  </div>
</section>
<div class="container post-index">
  {{#each sortedData as |data|}}
    {{#link-to 'posts.show' data}}
      {{blog-post post=data removePost="delete" modifyPost="edit"}}
    {{/link-to}}
  {{/each}}
</div>
<aside>{{outlet}}</aside>
